*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #0e87e4c2;
}

.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1.5rem;
}

h1{
  font-size: 3rem;
  color: white;
}


.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin: 2rem .5rem;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px black;
  background-color: #0a497ac2;
}

.search-place-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
}

.input-wrapper{
  position: relative;
  width: 100%;
  max-width: 254px;
}

.input-wrapper input{
  border: 1px solid black;
  border-radius: 1rem;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  height: 100%;
  width: 100%;
}

::placeholder{
  text-align: center;
}

.list{
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 180px;
  font-size: 1.2rem;
  overflow-y: auto;
  color: black;
}

.filtered-option{
  padding: 8px;
}

.filtered-option:hover{
  cursor: pointer;
  background-color: #ccc;
}

.active{
  background-color: #ddd;
  cursor: pointer;
  padding: 8px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search{
  color: white;
  border: 1px solid black;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.329);
}

.search:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  transition: ease-in-out 0.3s;
}

.currentweather{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: static;
  font-size: 2rem;
  gap: 4rem;
  margin-inline: 0.5rem;
  padding: 1rem 2rem;
  color: white;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px black;
  background-color: #0a497ac2;
}

.details{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.current-day{
  font-size: 1.5rem;
}

.label{
  font-size: 1rem;
}


.findme{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.findme:hover{
  cursor: pointer;
  border-radius: 2rem;
  transition: ease-in-out 0.3s;
  transform: scale(1.3);
}


.forecast{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0rem;
  margin-inline: 0.5rem;
  gap: 1rem;
}

.forecast-table{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0rem 2rem;
  border-radius: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px black;
  background-color: #0a497ac2;
}

.forecast-day{
  font-size: 2rem;
  min-width: 10rem;
  text-align: left;
}

.forecast-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 6rem;
  padding: 1rem .5rem;
}

.forecast-details:hover{
  transition: ease-in-out 0.2s;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 10px black;
}

.temperature-wrapper{
  display: flex;
  flex-direction: column;
  width: 8rem;
}

.temperature-max{
  font-size: 2rem;
}

.temperature-min{
  font-size: 1.4rem;
}

.interval{
  font-size: 1rem;
}

.interval-temp{
  font-size: 1rem;
}

.interval-description{
  font-size: 0.8rem;
}

.icon{
  height: 75px;
}
